{
  "openapi": "3.0.1",
  "info": {
    "title": "xPay API Store",
    "description": "",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.xpaycheckout.com"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/payments/create-intent": {
      "post": {
        "description": "This API is the first API to be called when the payment flow begins. Through this API, you inform xPay of the intent of the user to pay with all the requisite info about the user.",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-intent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create-intent-response"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/get-intent/{xIntentId}": {
      "get": {
        "description": "You can use this API to get the status of the transaction that corresponds to a particular intent. This API also returns the masked card info of the payer (if it's a card transaction) and the transaction lifecycle, which includes multiple attempts, failures, and other checkpoints during a transaction.",
        "parameters": [
          {
            "name": "xIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the intent",
            "example": "65b2cdc02755eb3ef2ae41ab"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with transaction status and related details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, xIntentId not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request, invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "create-intent": {
        "required": [
          "amount",
          "currency",
          "receiptId",
          "customerDetails",
          "callbackUrl"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount in lowest count unit. e.g.: For USD 1, amount is 100 representing 100 cents",
            "type": "integer",
            "format": "int64",
            "example": 100
          },
          "currency": {
            "description": "Three letter abbreviation of the currency",
            "type": "string",
            "enum": ["USD"],
            "example": "USD"
          },
          "receiptId": {
            "description": "Your identifier of the order",
            "type": "string",
            "example": "order123"
          },
          "customerDetails": {
            "description": "Details about the customer",
            "type": "object",
            "properties": {
              "name": {
                "description": "Customer's name",
                "type": "string",
                "example": "John Doe"
              },
              "email": {
                "description": "Customer's email address",
                "type": "string",
                "example": "john.doe@example.com"
              },
              "contactNumber": {
                "description": "Customer's contact number including country code",
                "type": "integer",
                "format": "int64",
                "example": 15551234567
              }
            },
            "required": ["name", "email", "contactNumber"]
          },
          "description": {
            "description": "The description of the order, if any",
            "type": "string",
            "example": "Order for 2 items"
          },
          "callbackUrl": {
            "description": "The URL we will callback to with the order status once it finishes.",
            "type": "string",
            "example": "https://example.com/callback"
          }
        }
      },
      "create-intent-response": {
        "type": "object",
        "properties": {
          "xIntentId": {
            "type": "string",
            "description": "Unique identifier for the intent created by xPay",
            "example": "65b2cdc02755eb3ef2ae41ab"
          },
          "status": {
            "type": "string",
            "description": "The status of the intent",
            "example": "CREATED_WITH_XPAY"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the intent was created",
            "example": "2024-01-25T21:08:16.989+00:00"
          },
          "mode": {
            "type": "string",
            "description": "The mode in which the intent was created (e.g., TEST, LIVE)",
            "example": "TEST"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata related to the intent",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["xIntentId", "status", "createdAt", "mode"]
      },
      "IntentDetailsResponse": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount in lowest count unit (e.g., cents for USD)",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Three-letter currency code",
            "example": "USD"
          },
          "receiptId": {
            "type": "string",
            "description": "Your identifier for the order",
            "example": "0V74x6vydb"
          },
          "mode": {
            "type": "string",
            "description": "The mode in which the transaction was made (e.g., TEST or LIVE)",
            "example": "TEST"
          },
          "customerDetails": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the customer",
                "example": "AAAA"
              },
              "email": {
                "type": "string",
                "description": "Email address of the customer",
                "example": "a@a.com"
              },
              "contactNumber": {
                "type": "string",
                "description": "Customer's contact number with country code",
                "example": "9123456789"
              }
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the order, if any",
            "example": "testing order0V74x6vydb"
          },
          "callbackUrl": {
            "type": "string",
            "description": "Callback URL to notify order status",
            "example": "http://localhost:3002/status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the intent was created",
            "example": "2024-01-25T17:26:03.397+00:00"
          },
          "status": {
            "type": "string",
            "description": "Current status of the intent",
            "example": "SUCCESS"
          },
          "xIntentId": {
            "type": "string",
            "description": "Unique identifier of the intent",
            "example": "65b2cdc02755eb3ef2ae41ab"
          }
        },
        "required": ["amount", "currency", "receiptId", "mode", "customerDetails", "description", "callbackUrl", "createdAt", "status", "xIntentId"]
      },
      "Error": {
        "required": ["errorCode", "errorDescription"],
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "example": "bad_request"
          },
          "errorDescription": {
            "type": "string",
            "example": "Something went wrong"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
